<header class="main-header">
  <a href="@Url.Action("Index","Home")" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><img src="~/AdminLTE/dist/img/logo.jpg" class="img-responsive"/></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><img src="~/AdminLTE/dist/img/logofull.jpg"class="img-responsive" /></span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                @*@Html.Partial("_LoginPartial")*@
            </ul>
        </div>
    </nav>
</header>
